@import "partials/normalize";

body {
	overflow-x:hidden;
	height: 100vh;
}

h1 {
	text-align:center;
	margin:0 auto;
font-size:60px;
font-family:Montserrat;
}

header {
	position: relative;
	height: 300px;
	background:#c2e1e5;
	top: 0;
	transition: top 5s;
}

header h1 {
	padding: 50px;
	font: 44px;
	text-align: center;
}


header svg {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 50px;

}



//end of header stuff

//SVG diagram guy stuff here
		.bodyPart {
					transition: fill 0.3s;
				}
		.bodyPart:hover {
			fill: white;
			cursor: pointer;
		}
		.diagram {

			width: 100%;
			transition: width 2s;
			&.diagram--Active {
				width: 50%;
			}

			svg {
				position: relative;
				width: 100%;
				height: 100vh;
				transform-origin: center;
				transform: rotate(180deg);
				transition: height 5s;
			}
		}
		.diagram svg g {
			width: 100%;
		}



		.body {
			fill: #d3d3d3;
			stroke: black;
			stroke-width: 20;
		}
		.bodyPart--Active {
			fill: rgba(213, 0, 18, .3);
			&:hover {
				fill: darken(rgba(213, 0, 18, .3), 20);
			}
		}
		.arm:hover {
			fill: white;
		}
		 * {
		 	transform-origin: center;
		 }

		//  .info{
		 //
		//  	width: 50%;
		//  }
		//  footer {
		 //
		//  }
		 //
		//  ul {
		// 	 list-style:none;
		// 	 padding:0;
		// 	 margin:0;
		//  }
		//  //
		//  button {
		// 	 display:block;
		// 	 margin-bottom: 2px;
		// 	 padding:25px;
		// 	 background: transparent;
		 //
		//  }
		//  button:hover {
		// 	 color:black;
		// 	 background: rgba(213, 0, 18, .6);
		//  }

		.appArea{
			position:relative;
			width:100%;
			margin:0;
			padding:0;
			}
		.info {
			position:absolute;
			font-family: 'Open Sans', sans-serif;
			left:70%;
			transform: translatex(-50%);
			top:5%;
			transition: left 2s;
			&.info--Active {
				left: 50%;
			}
 ul {

		background-color: transparent;
		// border:1px solid transparent;
		padding:0;
		margin:0 auto;
 }

		li {
			list-style:none;
			background-color: transparent;
			border:1px solid transparent;

		}
	}
		button{
			background-color:transparent;
			border:1px solid black;
			padding: 5px 10px;
			margin:10px;
			width:100%;

}
button:hover{
background:	#c2e1e5;

}
			button:focus{
				outline-color: #c2e1e5;


		}

		.info.infoActive{

			left:75%;
		}
